@use "@/styles/color";
@use "@/styles/fonts";

* {
  font-weight: 500;
  color: color.$text-primary;
  font-family: fonts.$Roboto;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
