@use "@/styles/color";

.video-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(color.$text-muted, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
  }
  &__btn-close {
    position: absolute;
    top: -2rem;
    right: -2rem;
    font-size: 2rem;
    cursor: pointer;
  }
}
