@use "@/styles/color";

.video-modal {
  // opacity: 1;
  // visibility: visible;
  transition: all 0.8s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(color.$text-muted, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    position: relative;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, 0px) rotateX(0);
  }

  &__btn-close {
    position: absolute;
    top: -2rem;
    right: -2rem;
    font-size: 2rem;
    cursor: pointer;
  }
  &.hidden &__container {
    transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  }
}
